## Practice Notebook

### Lists
Let us take a look at lists. A list is a collection of things, enclosed in [ ] and separated by commas. A list is heterogenous, i.e. the data types of its elements need not be the same

  * A rich set of operations are possible with lists
    - append(), extend(), insert()
    - remove(), sort(), reverse()

In [ ]:
f = [1, 1, 2, 3, 5, 8]

In [ ]:
f.append(13)
print(f)

In [ ]:
f.extend([21, 34, 55, 89])
print(f)

In [ ]:
a = [1, 2 , 5, 4, 3]
a.sort()
print(a)

In [ ]:
studentNames = ["Jhon", "Lewis", "Peter"]
print(studentNames[::-1])

### Tuples
  * Immutable, heterogenous
  * enclosed in parentheses
  * separated by comma

In [ ]:
a = 17
b = 23
print(a, b)

In [ ]:
c = "Hello"
d = "World!"
e = 42 
c, d = d, c
print(c, d)
e, d = d, e
print(e,d)

In [ ]:
a, b, n = 12, 10, 0
x = (12, 10, 0)
print(x[0])

## Solve the following exercises based on the knowledge of Lists and Tuples

### Exercise 01: For the given list apply reverse order

In [ ]:
a = [100, 200, 300, 400, 500]

In [ ]:
## YOUR CODE HERE
print(a[::-1])
# a.reverse()
# list(reversed(a))

### Exercise 02: Concatenate two lists in the following order

In [ ]:
list1 = ["Hello ", "Students "]
tuple_1 = ("Dear", "Sir")

Expected output : ['Hello ', 'Students ', 'Dear', 'Sir']

In [ ]:
## YOUR CODE HERE
list1.extend(tuple_1)
list1

### Exercise 03: For given list find the following
1. print last element from the list
2. Print index of element 4

In [ ]:
list4 = [1, 2, 3, 4, 5, 6, 7]

Expected outputs: 7  and 3

In [ ]:
## YOUR CODE HERE
print(list4[-1])
list4.index(4)

### Exercise 04:  Print sublist from given list

Expected output : [9,8,7]

In [ ]:
list5 = [1, 2, 3, [9, 8, 7]] 
## YOUR CODE HERE
print(list5[3])

### Exercise 05:  Swap the following two tuples

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

 Expected output : tuple1 = (99, 88) , tuple2 = (11, 22)

In [ ]:
## YOUR CODE HERE
tuple1, tuple2 = tuple2, tuple1

print(tuple1, tuple2)

### Exercise 06: Modify the first item of a list (22) inside a following tuple to 222

In [ ]:
tuple3 = (11, [22, 33, [100,101], 21], 44, 55)

Expected Output : (11, [222, 33 [100, 101], 21], 44, 55)

In [ ]:
#YOUR CODE HERE
tuple3[1][0] = 222
tuple3

### Exercise 07: Concatenate two Tuples in the following order

In [ ]:
tuple4 = (0, 1, 2, 3) 
tuple5 = ('Teacher', 'Student')

Expected Output :  (0, 1, 2, 3, 'Teacher', 'Student')

In [ ]:
# YOUR CODE HERE
print(tuple4 + tuple5)

### Exercise 08: For given list find the following

1. Check the type of the list elements 
2. Check whether the element `'name'` is present in the list
3. Find the length of the list

In [ ]:
list6= [1,'name',0.7,"this is a sentence"]
# YOUR CODE HERE
for elem in list6:
    print(type(elem))
print("name" in list6)
print(len(list6))

###Exercise 9: For given list perform the following

1. Find the count of the apples 
2. Insert the `'Watermelon'` at the last position

In [ ]:
basket = ['apple','apple','orange','mango','grape','orange','apple']
# YOUR CODE HERE
print(basket.count('apple'))
basket.append('watermelon')
basket