## Notebook 1: Project Euler Problem 1

### Learning Objective
To observe various Python constructs used to solve the same problem. In this way, syntax can be picked up easily as well as the use-cases for the constructs understood in comparison

## Problem Statement

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

### Style notes
*Note that **sum** is a built-in function and should not be used as a variable name*

**LIMIT** is used instead of hardcoding a number. This is a good practice.

Note the choice of variable and function names -- we have tried to follow good practices there too

#### Using a while loop

In [ ]:
LIMIT = 1000
total = 0
n = 1
while n < LIMIT:
    if n % 3 == 0 or n % 5 == 0:
        total += n
    n += 1
print(total)

#### Using range() and for loop

In [ ]:

LIMIT = 1000
total = 0
for n in range(LIMIT):
    if n % 3 == 0 or n % 5 == 0:
        total += n
print(total)

#### Using a function with while

In [ ]:
def select(x):
    return x % 3 == 0 or x % 5 == 0

LIMIT = 1000
total = 0
n = 1
while n < LIMIT:
    if select(n):
        total += n
    n += 1
print(total)

#### Using a function with for

In [ ]:
def select(x):
    return x % 3 == 0 or x % 5 == 0
LIMIT = 1000
total = 0
for n in range(LIMIT):
    if select(n):
        total += n
print(total)

#### Using filter with function

In [ ]:
def select(x):
    return x % 3 == 0 or x % 5 == 0
LIMIT = 1000
sum(filter(select, range(LIMIT)))

#### Using list comprehensions

In [ ]:
LIMIT = 1000
sum([x for x in range(LIMIT) if x % 3 == 0 or x % 5 == 0])

#### List comprehensions with an external function

In [ ]:
LIMIT = 1000
def select(x):
    return x % 3 == 0 or x % 5 == 0
    
sum([x for x in range(LIMIT) if select(x)])

#### Using just ranges

In [ ]:
LIMIT = 1000
sum(range(3, LIMIT, 3)) + sum(range(5, LIMIT, 5)) - sum(range(15, LIMIT, 15))

#### Using sets

In [ ]:
LIMIT = 1000
sum(set(range(3, LIMIT, 3)) | set(range(5, LIMIT, 5)))

### Discussion points
Which version is the 'easiest' to understand?

Which version is most 'pythonic'?

Which do you like? Why? Does this choice depend on your go to programming language?